 body {
     background-image: url(images/background.jpg);
 }

 .header-image,
 .footer-image, .home-footer-image {
     width: 100%;
     height: 100%;
 }

 .nav-bar-home,
 .main-heading,
 .sub-heading {
     text-align: center;
 }

 .nav-bar {
    text-align: center;
    margin-top: 12px;
 }

 .sea-image,
 .butterfly-image {
     width: 300px;
     height: 200px;
     border: 5px solid black;
 }

 .java-image {
     width: 300px;
     height: 193px;
     margin-right: 3px;
 }

 .html-image {
     width: 300px;
     height: 226px;
     margin-left: 3px;
 }

 .sea-image,
 .java-image {
     float: left;
 }

 .butterfly-image,
 .html-image {
     float: right;
 }

 .gallery-container {
     text-align: center;
     margin-bottom: 12px;
 }

 .gallery-image {
     width: 250px;
     height: 180px;
     border: 5px solid blue;
 }

 #gallery-heading {
     color: darkcyan;
 }

.gallery-footer-image {
     margin-bottom: 20px;
 }

 .footer-image {
    margin-bottom: -4px;
 }