body {
    background-image: url(images/background.jpg);
}

.header-image, .footer-image {
    width: 100%;
    height: 100%;
}

.nav-bar, .main-heading {
    text-align: center;
}

.sea-image, .butterfly-image {
    width: 300px;
    height: 200px;
    border: 5px solid black;
}

.sea-image {
    float: left;
}

.butterfly-image {
    float: right;
}